[Unit]
Description=ip4 over ip6 tunnel
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/4to6tunnelstart2
ExecStop=/usr/bin/4to6tunnelstop2
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
